# EDA

In [37]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import csv
import os
import sys

In [27]:
DATA_PATH = '/opt/ml/input/data/train_dataset/'
train_df = pd.read_csv(DATA_PATH+'train_data.csv', parse_dates=['Timestamp'])
train_df = train_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)
test_df = pd.read_csv(DATA_PATH+'test_data.csv', parse_dates=['Timestamp'])
test_df = test_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)

## TRAIN VS TEST

Train과 Test는 같은 Column을 가지고 있으며, Row의 수는 다음과 같다.
약 8.7:1의 비율이다

In [38]:
train_df.columns == test_df.columns

array([ True,  True,  True,  True,  True,  True])

In [41]:
print("train_dataset length: ", len(train_df),"vs", "test_dataset length: ", len(test_df), ", ", len(train_df)/len(test_df))

train_dataset length:  2266586 vs test_dataset length:  260114 ,  8.713817787585443

특히, 우리가 예측해야할 문제의 answerCode column은 0이나 1 대신 -1로 마스킹되어 있으며, 총 744개의 문제를 예측해야한다.

In [42]:
test_df[test_df['answerCode'] == -1]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289
1706,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080
3023,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660
4283,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611
4670,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422
...,...,...,...,...,...,...
260052,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615
260067,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636
260082,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402
260097,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

Train과 Test 데이터셋의 unique feature의 수

In [111]:
print(f"""--- Train_dataset INFORMATIONS ---
userID           : {train_df.userID.nunique()}
assessmentItemID : {train_df.assessmentItemID.nunique()}
testID           : {train_df.testId.nunique()}
mean answer rate : {train_df.answerCode.sum() / train_df.shape[0] * 100:.2f}%
KnowledgeTag     : {train_df.KnowledgeTag.nunique()}
{'-'*26}""")

--- Train_dataset INFORMATIONS ---
userID           : 6698
assessmentItemID : 9454
testID           : 1537
mean answer rate : 65.44%
KnowledgeTag     : 912
--------------------------

In [112]:
print(f"""--- Test_dataset INFORMATIONS ---
userID           : {test_df.userID.nunique()}
assessmentItemID : {test_df.assessmentItemID.nunique()}
testID           : {test_df.testId.nunique()}
mean answer rate : {test_df[test_df['answerCode'] != -1]['answerCode'].sum() / test_df.shape[0] * 100:.2f}%
KnowledgeTag     : {test_df.KnowledgeTag.nunique()}
{'-'*26}""")

--- Test_dataset INFORMATIONS ---
userID           : 744
assessmentItemID : 9454
testID           : 1537
mean answer rate : 65.50%
KnowledgeTag     : 912
--------------------------

In [120]:
print(f"""--- Test_dataset INFORMATIONS ---
train에는 없는 userID           : {len([i for i in pd.unique(test_df.userID) if i not in pd.unique(train_df.userID)])}
train에는 없는 assessmentItemID : {len([i for i in pd.unique(test_df.assessmentItemID) if i not in pd.unique(train_df.assessmentItemID)])}
train에는 없는 testID           : {len([i for i in pd.unique(test_df.testID) if i not in pd.unique(train_df.testID)])}
train에는 없는 KnowledgeTag     : {len([i for i in pd.unique(test_df.KnowledgeTag) if i not in pd.unique(train_df.KnowledgeTag)])}
{'-'*26}""")

KeyboardInterrupt:

하지만 train 데이터셋과 test 데이터셋 간의 완전히 겹치는 데이터는 없습니다.
answerCode가 -1인 Row를 빼면 학습 데이터로 활용가능할 것 같습니다.

In [77]:
df = pd.merge(train_df, test_df, on=list(test_df.columns), how='outer', indicator='Exist')
df['Exist'] = np.where(df.Exist == 'both', True, False)

In [78]:
df[df['Exist']==True]

Empty DataFrame
Columns: [userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTag, Exist]
Index: []

In [92]:
train_df[:5]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

In [124]:
[i for i in pd.unique(test_df.userID) if i not in pd.unique(train_df.userID)]

[3,
 4,
 13,
 17,
 26,
 29,
 45,
 53,
 58,
 64,
 76,
 79,
 94,
 120,
 159,
 172,
 193,
 200,
 203,
 204,
 217,
 226,
 244,
 257,
 260,
 262,
 295,
 313,
 317,
 325,
 326,
 342,
 355,
 361,
 363,
 375,
 378,
 385,
 410,
 414,
 416,
 443,
 458,
 465,
 468,
 474,
 479,
 480,
 482,
 496,
 499,
 520,
 524,
 542,
 552,
 556,
 561,
 563,
 566,
 568,
 569,
 573,
 580,
 581,
 584,
 594,
 596,
 600,
 616,
 617,
 645,
 653,
 656,
 671,
 694,
 701,
 712,
 744,
 756,
 759,
 764,
 765,
 767,
 772,
 792,
 794,
 802,
 806,
 819,
 827,
 837,
 839,
 842,
 848,
 871,
 876,
 885,
 888,
 895,
 898,
 912,
 913,
 916,
 938,
 944,
 945,
 947,
 982,
 991,
 1020,
 1022,
 1030,
 1042,
 1044,
 1051,
 1071,
 1072,
 1083,
 1085,
 1100,
 1133,
 1143,
 1148,
 1170,
 1207,
 1208,
 1213,
 1221,
 1252,
 1266,
 1268,
 1273,
 1289,
 1292,
 1295,
 1304,
 1307,
 1310,
 1323,
 1331,
 1332,
 1338,
 1348,
 1352,
 1362,
 1390,
 1401,
 1425,
 1450,
 1462,
 1463,
 1469,
 1503,
 1522,
 1555,
 1557,
 1558,
 1559,
 1569,
 1571,
 1575,
 1582,
 1592,
 1614,
 1628,
 1629,
 1631,
 1634,
 1647,
 1667,
 1673,
 1716,
 1720,
 1721,
 1725,
 1728,
 1735,
 1741,
 1746,
 1750,
 1751,
 1755,
 1763,
 1783,
 1791,
 1796,
 1799,
 1804,
 1805,
 1822,
 1826,
 1828,
 1840,
 1864,
 1866,
 1875,
 1876,
 1885,
 1905,
 1907,
 1924,
 1926,
 1936,
 1939,
 1949,
 1955,
 1961,
 1973,
 1990,
 1998,
 2001,
 2005,
 2006,
 2016,
 2020,
 2030,
 2032,
 2036,
 2044,
 2046,
 2057,
 2059,
 2086,
 2136,
 2139,
 2145,
 2152,
 2157,
 2162,
 2166,
 2169,
 2171,
 2172,
 2174,
 2175,
 2185,
 2187,
 2193,
 2211,
 2231,
 2253,
 2266,
 2276,
 2277,
 2278,
 2281,
 2282,
 2286,
 2308,
 2324,
 2334,
 2336,
 2350,
 2370,
 2401,
 2404,
 2422,
 2430,
 2444,
 2452,
 2457,
 2460,
 2465,
 2478,
 2489,
 2500,
 2519,
 2525,
 2533,
 2542,
 2553,
 2569,
 2571,
 2573,
 2577,
 2584,
 2590,
 2591,
 2639,
 2655,
 2656,
 2672,
 2689,
 2704,
 2706,
 2712,
 2721,
 2732,
 2745,
 2757,
 2769,
 2779,
 2786,
 2787,
 2808,
 2817,
 2831,
 2859,
 2864,
 2876,
 2897,
 2902,
 2910,
 2931,
 2940,
 2962,
 2965,
 2973,
 2983,
 2987,
 2988,
 3024,
 3027,
 3032,
 3059,
 3063,
 3100,
 3104,
 3105,
 3108,
 3112,
 3113,
 3126,
 3133,
 3145,
 3152,
 3155,
 3198,
 3241,
 3242,
 3264,
 3268,
 3271,
 3273,
 3274,
 3285,
 3286,
 3296,
 3298,
 3307,
 3326,
 3329,
 3334,
 3345,
 3367,
 3372,
 3377,
 3395,
 3434,
 3436,
 3444,
 3456,
 3458,
 3462,
 3465,
 3466,
 3469,
 3503,
 3509,
 3520,
 3521,
 3531,
 3533,
 3559,
 3561,
 3572,
 3574,
 3588,
 3589,
 3619,
 3622,
 3630,
 3675,
 3679,
 3698,
 3714,
 3716,
 3727,
 3730,
 3745,
 3754,
 3758,
 3763,
 3770,
 3786,
 3789,
 3809,
 3825,
 3834,
 3855,
 3872,
 3874,
 3876,
 3892,
 3893,
 3905,
 3943,
 3976,
 3978,
 3981,
 3986,
 4002,
 4042,
 4049,
 4089,
 4100,
 4119,
 4139,
 4140,
 4144,
 4154,
 4158,
 4160,
 4173,
 4174,
 4187,
 4189,
 4211,
 4222,
 4239,
 4259,
 4282,
 4322,
 4333,
 4334,
 4344,
 4350,
 4363,
 4375,
 4392,
 4393,
 4398,
 4404,
 4410,
 4415,
 4417,
 4418,
 4428,
 4441,
 4450,
 4464,
 4467,
 4469,
 4488,
 4503,
 4508,
 4519,
 4522,
 4526,
 4532,
 4537,
 4541,
 4543,
 4552,
 4562,
 4586,
 4594,
 4597,
 4598,
 4612,
 4630,
 4646,
 4647,
 4662,
 4666,
 4677,
 4715,
 4720,
 4723,
 4729,
 4742,
 4744,
 4751,
 4756,
 4771,
 4780,
 4781,
 4785,
 4788,
 4819,
 4820,
 4827,
 4837,
 4870,
 4874,
 4881,
 4885,
 4887,
 4906,
 4931,
 4945,
 4954,
 4966,
 4969,
 4988,
 4990,
 5007,
 5010,
 5042,
 5066,
 5072,
 5073,
 5084,
 5088,
 5104,
 5122,
 5140,
 5149,
 5159,
 5169,
 5185,
 5195,
 5196,
 5201,
 5207,
 5219,
 5234,
 5238,
 5242,
 5250,
 5255,
 5266,
 5287,
 5293,
 5308,
 5323,
 5342,
 5353,
 5357,
 5363,
 5369,
 5374,
 5385,
 5397,
 5398,
 5404,
 5406,
 5417,
 5422,
 5434,
 5438,
 5441,
 5447,
 5463,
 5471,
 5480,
 5486,
 5487,
 5490,
 5493,
 5502,
 5511,
 5516,
 5531,
 5534,
 5543,
 5548,
 5566,
 5572,
 5574,
 5584,
 5587,
 5599,
 5608,
 5626,
 5631,
 5633,
 5637,
 5651,
 5660,
 5704,
 5706,
 5711,
 5719,
 5744,
 5745,
 5749,
 5763,
 5771,
 5780,
 5798,
 5806,
 5840,
 5865,
 5867,
 5878,
 5881,
 5884,
 5885,
 5893,
 5895,
 5896,
 5904,
 5915,
 5925,
 5965,
 5968,
 5972,
 5973,
 5977,
 5979,
 5984,
 5995,
 6021,
 6027,
 6028,
 6033,
 6037,
 6067,
 6072,
 6074,
 6078,
 6081,
 6102,
 6119,
 6127,
 6128,
 6139,
 6151,
 6153,
 6159,
 6173,
 6187,
 6191,
 6216,
 6230,
 6241,
 6246,
 6254,
 6273,
 6294,
 6295,
 6296,
 6317,
 6332,
 6335,
 6356,
 6378,
 6390,
 6409,
 6417,
 6423,
 6427,
 6431,
 6436,
 6442,
 6450,
 6488,
 6502,
 6515,
 6521,
 6552,
 6558,
 6571,
 6594,
 6601,
 6606,
 6607,
 6609,
 6611,
 6615,
 6619,
 6630,
 6641,
 6684,
 6689,
 6693,
 6704,
 6721,
 6732,
 6794,
 6813,
 6829,
 6830,
 6833,
 6837,
 6848,
 6894,
 6904,
 6911,
 6931,
 6942,
 6946,
 6952,
 6961,
 6974,
 6985,
 6987,
 7006,
 7012,
 7033,
 7042,
 7050,
 7051,
 7054,
 7056,
 7058,
 7059,
 7060,
 7076,
 7078,
 7080,
 7082,
 7083,
 7098,
 7121,
 7131,
 7137,
 7144,
 7146,
 7163,
 7165,
 7174,
 7179,
 7184,
 7192,
 7193,
 7198,
 7202,
 7216,
 7220,
 7228,
 7234,
 7242,
 7247,
 7248,
 7253,
 7259,
 7288,
 7293,
 7308,
 7354,
 7363,
 7364,
 7368,
 7369,
 7373,
 7382,
 7392,
 7395,
 7404,
 7416,
 7417,
 7439]

In [ ]:
pd.unique(test_df.userID)