# EDA

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import csv
import os
import sys

In [2]:
DATA_PATH = '/opt/ml/input/data/train_dataset/'
train_df = pd.read_csv(DATA_PATH+'train_data.csv', parse_dates=['Timestamp'])
train_df = train_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)
test_df = pd.read_csv(DATA_PATH+'test_data.csv', parse_dates=['Timestamp'])
test_df = test_df.sort_values(by=['userID', 'Timestamp']).reset_index(drop=True)

## TRAIN VS TEST

Train과 Test는 같은 Column을 가지고 있으며, Row의 수는 다음과 같다.
약 8.7:1의 비율이다

In [38]:
train_df.columns == test_df.columns

array([ True,  True,  True,  True,  True,  True])

In [41]:
print("train_dataset length: ", len(train_df),"vs", "test_dataset length: ", len(test_df), ", ", len(train_df)/len(test_df))

train_dataset length:  2266586 vs test_dataset length:  260114 ,  8.713817787585443

특히, 우리가 예측해야할 문제의 answerCode column은 0이나 1 대신 -1로 마스킹되어 있으며, 총 744개의 문제를 예측해야한다.

In [42]:
test_df[test_df['answerCode'] == -1]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289
1706,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080
3023,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660
4283,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611
4670,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422
...,...,...,...,...,...,...
260052,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615
260067,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636
260082,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402
260097,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

Train과 Test 데이터셋의 unique feature의 수

In [111]:
print(f"""--- Train_dataset INFORMATIONS ---
userID           : {train_df.userID.nunique()}
assessmentItemID : {train_df.assessmentItemID.nunique()}
testID           : {train_df.testId.nunique()}
mean answer rate : {train_df.answerCode.sum() / train_df.shape[0] * 100:.2f}%
KnowledgeTag     : {train_df.KnowledgeTag.nunique()}
{'-'*26}""")

--- Train_dataset INFORMATIONS ---
userID           : 6698
assessmentItemID : 9454
testID           : 1537
mean answer rate : 65.44%
KnowledgeTag     : 912
--------------------------

In [112]:
print(f"""--- Test_dataset INFORMATIONS ---
userID           : {test_df.userID.nunique()}
assessmentItemID : {test_df.assessmentItemID.nunique()}
testID           : {test_df.testId.nunique()}
mean answer rate : {test_df[test_df['answerCode'] != -1]['answerCode'].sum() / test_df.shape[0] * 100:.2f}%
KnowledgeTag     : {test_df.KnowledgeTag.nunique()}
{'-'*26}""")

--- Test_dataset INFORMATIONS ---
userID           : 744
assessmentItemID : 9454
testID           : 1537
mean answer rate : 65.50%
KnowledgeTag     : 912
--------------------------

In [120]:
print(f"""--- Test_dataset INFORMATIONS ---
train에는 없는 userID           : {len([i for i in pd.unique(test_df.userID) if i not in pd.unique(train_df.userID)])}
train에는 없는 assessmentItemID : {len([i for i in pd.unique(test_df.assessmentItemID) if i not in pd.unique(train_df.assessmentItemID)])}
train에는 없는 testID           : {len([i for i in pd.unique(test_df.testID) if i not in pd.unique(train_df.testID)])}
train에는 없는 KnowledgeTag     : {len([i for i in pd.unique(test_df.KnowledgeTag) if i not in pd.unique(train_df.KnowledgeTag)])}
{'-'*26}""")

KeyboardInterrupt:

하지만 train 데이터셋과 test 데이터셋 간의 완전히 겹치는 데이터는 없습니다.
answerCode가 -1인 Row를 빼면 학습 데이터로 활용가능할 것 같습니다.

In [77]:
df = pd.merge(train_df, test_df, on=list(test_df.columns), how='outer', indicator='Exist')
df['Exist'] = np.where(df.Exist == 'both', True, False)

In [78]:
df[df['Exist']==True]

Empty DataFrame
Columns: [userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTag, Exist]
Index: []

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1570732,2711,A020183001,A020000183,1,2020-10-23 06:24:59,8136
280959,381,A050071002,A050000071,1,2020-07-24 03:13:56,3826
2194534,5698,A010098002,A010000098,1,2020-10-16 09:08:32,7629
396785,543,A090054002,A090000054,0,2020-10-06 03:58:33,2601
1177109,1830,A010022005,A010000022,1,2020-05-12 00:42:01,6803
1230180,1937,A030046004,A030000046,1,2020-06-02 09:52:04,373
170030,227,A020027006,A020000027,1,2020-06-24 12:00:04,7912
1693574,3028,A010079004,A010000079,1,2020-08-24 10:56:11,7620
231669,311,A060105005,A060000105,1,2020-08-28 09:10:54,708
1711079,3075,A040016003,A040000016,1,2020-07-28 10:44:13,2049
1833293,3485,A010188001,A010000188,1,2020-10-20 05:35:12,7072
430913,601,A050133007,A050000133,1,2020-09-15 13:31:04,5289
971719,1448,A070091002,A070000091,1,2020-09-13 07:29:24,8891
2051830,4453,A050179004,A050000179,1,2020-09-16 23:24:37,10396
1599545,2785,A020156002,A020000156,0,2020-10-08 01:16:51,8127
1038061,1560,A020085003,A020000085,0,2020-07-28 10:04:09,7822
2201734,5795,A060116006,A060000116,1,2020-08-10 08:43:12,713
1353912,2209,A030117001,A030000117,1,2020-09-10 05:38:25,547
1121345,1719,A030097001,A030000097,0,2020-08-12 00:21:13,465
156741,207,A050115004,A050000115,1,2020-10-07 02:09:50,5286
291413,394,A020126003,A020000126,1,2020-09-23 03:57:02,8019
2252053,6803,A060085004,A060000085,1,2020-08-13 14:44:59,10403
8749,15,A020047005,A020000047,1,2020-05-17 10:40:31,7928
781326,1131,A010140004,A010000140,1,2020-09-25 08:08:52,7800
1855303,3558,A030096001,A030000096,1,2020-06-04 11:28:45,465
1318629,2125,A060092001,A060000092,1,2020-07-03 11:10:28,627
1903718,3742,A010142001,A010000142,1,2020-10-07 23:04:45,7801
976322,1458,A070120005,A070000120,1,2020-10-09 07:31:35,9661
1386290,2274,A030041003,A030000041,1,2020-07-03 04:13:36,7333
69751,92,A050063003,A050000063,1,2020-07-12 09:20:21,3828
2238836,6471,A050164002,A050000164,1,2020-10-26 06:47:46,459
1589185,2754,A020090010,A020000090,0,2020-08-04 10:38:39,7944
1553337,2667,A070163006,A070000163,0,2020-12-05 07:22:11,9124
1222645,1919,A080130001,A080000130,1,2020-12-18 23:26:50,2726
2050387,4444,A020005004,A020000005,1,2020-06-02 04:07:07,7912
1334930,2164,A050017002,A050000017,1,2020-03-24 09:57:31,2620
765457,1111,A010062005,A010000062,0,2020-09-01 08:46:20,6453
2079427,4637,A030154002,A030000154,1,2020-09-01 03:24:15,1720
823213,1196,A050055006,A050000055,0,2020-06-08 06:35:54,3751
1376818,2252,A060022001,A060000022,1,2020-06-16 11:44:20,592
672232,962,A030110003,A030000110,1,2020-09-24 01:59:22,574
1765876,3248,A010113002,A010000113,1,2020-09-13 05:25:37,7797
716446,1035,A050031002,A050000031,1,2020-05-21 01:09:39,2625
546699,771,A010064003,A010000064,1,2020-07-06 10:57:20,6454
1845974,3525,A010087005,A010000087,0,2020-08-10 05:36:50,6556
583106,822,A030039003,A030000039,1,2020-04-13 04:48:29,365
961934,1432,A080085001,A080000085,0,2020-09-10 20:31:28,10569
2172968,5435,A030109004,A030000109,0,2020-09-29 09:03:04,559
1564888,2698,A040191005,A040000191,1,2020-10-11 22:53:49,2132
1541888,2643,A030003002,A030000003,0,2020-03-11 00:34:14,308